<p id="notice"><%= notice %></p>

<p>
  <b>Event:</b>
  <%= @meeting.event %>
</p>

<p>
  <b>Contact:</b>
  <%= @meeting.contact %>
</p>


<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
